.footer{
    width: 100%;
    justify-content: space-between;
    height: 60px;
    border-top: solid 0.5px #b7b7b7;
    padding: 20px 50px;
  }
  
#all a{
    color: #b7b7b7;
    text-decoration: none;
    margin:0px 20px;
  }
  
#social-network img{
    margin:0px 10px;
    color:#b7b7b7;
  }
  